
<div class="container">
  <h1> Clothings for your kiddy </h1>
  <br>
  <%= link_to "Sell your cloths", new_clothing_path, class: 'btn btn-danger' %>
  <br>
  <br>
  <%= render partial: 'clothings' %>

</div>
