<center>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-s-6">
        <%= cl_image_tag @clothing.photo.url, width: 200, height: 300, crop: :fill %>
        <h4><%= @clothing.description%>, (R$ <%= @clothing.price %>)</h4>
        <%= link_to "CHECKOUT",  new_clothing_purchase_path(@clothing.id), class: "btn btn-lg btn-danger" %>
      </div>
    </div>
  </div>
  <br>
</center>

