<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Credit Card</h1>
    </div>
  </div>

  <%= simple_form_for([@clothing, @purchase]) do |f| %>
    <%= f.input :clothing_id, as: :hidden, input_html: { value: @clothing.id } %>
    <%= f.submit "BUY" %>
  <% end %>
  <%#= link_to "BUY", clothing_purchases_path(clothing_id: params[:clothing_id]),  class: 'btn btn-primary', method: :post %>

</div>



