<div class="footer">

  <!-- <center>
  <br>
    <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>
  <br>
  </center> -->



  <div>
    <%= image_tag "wagon-logo.png", size: "110x50" %>
    <span>    This page has been developed during the LeWagon Fullstack Bootcamp (1 week challenge) by Livia Puppa, Pedro Almeida, Arthur Ramos and Tamara Jost</span>
  </div>

</div>

