<div class="footer">

  <center>

  footer
  <br>
  footer
  <br>
    <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>
  <br>
  footer
  <br>
  footer
  <br>
  footer

  </center>

</div>

