
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.3) 50%), url('http://www.chloeaftel.com/images/pics/582_kidspillow_v03gif.gif');">
  <div class="banner-content" class="text-left">
  <br>
  <br>
     <!-- <img src="http://res.cloudinary.com/aearamos/image/upload/v1492649290/unicornbuybuy_vjq0mc.png" width="200px" height="200px" />
     <br> -->
    <h1>Buy Buy Baby!</h1>

    <p>Shop and sell kid style.</p>
    <%= link_to "BROWSE", clothings_path, class: "btn btn-primary btn-lg"  %>

  </div>
</div>


