.wrapper {
  background-color: #e6f2ff;
  height: 350px;
}

.wrapper h4 {
  color: rgb(58,58,58);
  font-family: 'Indie Flower', cursive;
}

.wrapper p {
  color: rgb(58,58,58);
  font-family: 'Indie Flower', cursive;
}
